.section-4, .section-4bA, .section-4bB{
    flex-direction: column;
}

.section-4a {
    justify-content: center;
    align-items: center;
}

.section-4bA {
    width: 60%;
}

.section-4bA iframe {
    padding: 0px 24px 24px 24px;
}

.section-4bA h3 {
    padding-bottom: 15px;
}